* {
    margin: 0;
    padding: 0;
}

.header {
    background-color: darkslateblue;
    height: auto;
    margin-left: 0px;
    margin-right: 0px;
    min-width: 100%;
    &__logo {
        margin-left: auto;
        margin-right: auto;
        min-width: 65%;
        padding-left: 5px;
    }
    &__menu {
        padding-bottom: 15px;
        margin: 27px auto 0px auto;
        width: 38%;
    }
}

.logo {
    &__title {
        font: normal 1.7em 'century gothic', arial;
        padding: 24px 0 0 0;
        color: #000;
        &_link,
        &_link:hover {
            @extend .logo__title;
            color: #fff;
            letter-spacing: 0.1em;
            text-decoration: none;
        }
    }
    &__text {
        font: normal 1.2em 'century gothic', arial;
        margin: 0 0 15px 0;
        padding: 15px 0 10px 0;
        color: #999;
    }
}

.menu {
    font-size: 0.8em;

    &__item,
    &__item:hover {
        display:  inline-block;
        padding: 10px 35px 5px 0px;
        color: #fff;
        font: normal 1.2em 'trebuchet ms', sans-serif;
        text-decoration: none;

    }
}

.menu__item.menu__item_selected {
    color: #aeb002;
}

.content {
    width: 68.75%;
    margin: 20px auto 0 auto;
    overflow: hidden;
    &__movies {
        text-align: left;
        width: 70.45%;
        padding: 0 0 0 5px;
        float: left;
    }
    &__serials {
        @extend .content__movies;
    }
    &__post {
        @extend .content__movies;
    }
}

.footer {
    width: 100%;
    height: auto;
    padding: 10px 0 0 0;
    text-align: center;
    background-color: darkslateblue;
    color: #a8aa95;
    font-size: 1.1em;
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0;
}

.sidebar {
    float: right;
    width: 25.45%;
    &__search {
        float: right;
        width: 100%;
        padding: 5%;
        margin: 0 0 16px 0;
        border: solid 1px #f2f2f2;
        border-radius: 5px;
        background-color: #f9f9f9;
    }
    &__log-in {
        @extend .sidebar__search;
    }
    &__news {
        @extend .sidebar__search;
    }
    &__rate {
        @extend .sidebar__search;
    }
}

.search {
    font: normal 1.3em 'century gothic', arial;
    &__title {
        font-weight: 100;
        margin: 0 0 15px 0;
        padding: 15px 0 5px 0;
        color: #136cb2;
    }
    &__input {
        outline: none;
        border: none;
        border: solid 1px #f2f2f2;
        color: #5d5d5d;
        width: 60%;
        padding: 8px;
    }
    &__btn {
        outline: none;
        border: none;
        border: solid 1px #f2f2f2;
        padding: 8px;
        background-color: white;
        cursor: pointer;
    }
}

.log-in {
    @extend .search;
    &__title {
        @extend .search__title;
    }
    &__login-text {
        @extend .search__input;
    }
    &__password {
        @extend .search__input;
    }
    &__btn {
        @extend .search__btn;
    }
    &__forgot {
        outline: none;
        text-decoration: underline;
        color: #aeb002;
        font-size: 0.7em;
        margin-top: 3%;
        margin-left: 2%;
    }
    &__sign-up {
        @extend .log-in__forgot;
    }
}

.news {
    @extend .search;
    &__title {
        @extend .search__title;
    }
    &__date {
        color: #555;
    }
    &__item {
        padding: 20px;
        line-height: 1.7em;
        font-family: serif;
        color: #555;
    }
    &__read-more {
        @extend .log-in__forgot;
        font-size: 1em;
        font-family: serif;
    }
}

.rate {
    @extend .search;
    &__title {
        @extend .search__title;
    }
    &__list {
        margin: 0;
    }
    &__li {
        line-height: 1.8em;
        list-style-type: none;
    }
    &__movie {
        @extend .news__read-more;
    }
    &__point {
        margin: 0;
        @extend .news__read-more;
        float: right;
    }
}

.movies {
    &__title {
        color: #555;
        font-size: 1.7em;
        font-family: sans-serif;
        font-weight: 100;
    }
    &__blocks {
        margin-bottom: 5%;
        margin-top: 3%;

    }
    &__block {
        display: inline-block;
        border: solid 3px #f2f2f2;
        border-radius: 5px;
        background-color: #f9f9f9;
        padding: 1%;

    }
    &__link-text,
    &__link-text:hover {
        text-decoration: none;
        font-family: sans-serif;
        color: #555;
        text-align: center;
        padding-top: 3%;
        font-size: 0.9em;
    }
    &__poster {
        width: 120px;
        height: 180px;
        align-items: center;
    }
}

.serials {
    &__title {
        @extend .movies__title;
    }
    &__blocks {
        @extend .movies__blocks;
    }
    &__block {
        @extend .movies__block;

    }
    &__link-text,
    &__link-text:hover {
        @extend .movies__link-text;
    }
    &__poster {
        @extend .movies__poster;
    }
}

.post {
    &__line {
        border: solid 1px #f3f3f3;

    }
    &__title {
        font-size: 1.7em;
        font-family: sans-serif;
        font-weight: 100;
        padding: 15px 0 5px 0;
        margin-bottom: 15px;
        &_link,
        &_link:hover {
            color: #aeb002;
            text-decoration: none;
        }
    }
    &__content {
        padding: 20px;
        line-height: 1.7em;
        color: #555;
    }
    &__read-more,
    &__read-more:hover {
        outline: none;
        text-decoration: none;
        color: #aeb002;
        font-size: 1.1em;
    }
}

.footer {
    
    &__links {
        padding-top: 15px;
    }
    &__link {
        color: #a8aa95;
        text-decoration: none
    }
    &__link:hover {
        color: #fff;
        text-decoration: none;
    }
    &__who {
        margin-top: 10px;
    }
}


/*for mobile*/

@media all and (max-width: 1050px) and (min-width: 400px){

}
